body{
  background-color: #720000;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 15px 95px 15px 15px;
}
h1{
  color: #720000;
  font-weight: bold;
  margin-top: 0px;
  font-size:30pt;
}
header{
  background-color: white;
  border: black 4px dashed;
  text-align: center;
  padding-bottom: 30px;
}
h2{
  font-weight: bolder;
  text-decoration: underline;
}
footer{
  margin-top: 0px;
  background-color: white;
  border: black 4px dashed;
  text-align: left;
  padding-bottom: 30px;
  color: #720000;
}
a{
  color: white;
}
#utso{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.jobbra{
  border: black dashed 4px;
  float: right;
  width: 400px;
  height: 300px;
  margin: 15px;
  background-color: white;
}
#erdekesseg{
  width:450px;
  float:right;
  margin: 0px 0px 20px 15px;
  background-color: #ffffcc;
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  border: #ffffcc 2px solid;
}
li{
  text-align: left;
  list-style-image: url(jel.png);
  font-weight: bold;
}
#behuzas{
  padding-left: 40px;
}